:root {

    --red: rgb(212, 44, 159);
    --red-selected: rgba(239, 127, 127, 0.904);

}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

h1,
h3,
h2,
h5,
h4,
p {
    margin: 0px;
}

a {
    text-decoration: none;
}

.content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.red {
    color: var(--red);
}

.white {
    color: rgba(230, 230, 230, 1);
}

/* HEADER */
.header {
    width: 100%;
    position: fixed;
    height: 70px;
    background-color: #e9e0e0;
    display: flex;
    align-items: center;
    z-index: 10;
    transition: background-color 0.3s;
}

.header-change {
    flex-direction: column;
    justify-content: center;
}

.header-top {
    display: flex;
    align-items: center;
    width: 100%;
}

.header-bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.header-bottom .main-nav {
    flex-direction: column;
    margin-left: 0px;
    margin-bottom: 20px;
}

.header-bottom .main-nav h3 {
    margin-bottom: 10px;
}

.header-bottom .right-nav {
    margin: 0 auto !important;
}

.header:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 10px black;
    transition: background-color 0.3s;
}

.header-active {
    background-color: rgb(253, 227, 198);
    box-shadow: 0px 2px 10px black;
    transition: background-color 0.3s;
}

.header .brand {
    margin-left: 25px;
    display: flex;
}

.header .brand h1 {
    font-family: "Anton", sans-serif;
    font-size: 35px;
}

.main-nav {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.main-nav .button-container {
    height: calc(100% - 10px);
    margin-top: 5px;
    padding: 0px 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid transparent;
    border-bottom-color: transparent;
    transition: border-bottom-color 0.3s;
}

.main-nav .button-container:hover {
    cursor: pointer;
    border-bottom-color: var(--red);
    transition: border-bottom-color 0.3s;
}

.main-nav .button-container h2 {
    font-family: "Lucida Console", sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.main-nav .a.img {
    margin-top: auto;
    vertical-align: middle

}

.header .right-nav {
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.right-nav .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 25px;
    border-radius: 8px;
}

.login {
    background-color: var(--red);
}

.login:hover {
    background-color: var(--red-selected);
    cursor: pointer;
}
.create {
    background-color: var(--red);
}

.create:hover {
    background-color: var(--red-selected);
    cursor: pointer;
}
.admin {
    background-color: var(--red);
}

.admin:hover {
    background-color: var(--red-selected);
    cursor: pointer;
}

.right-nav .button-container a {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: white;
}

.button-container {
    margin-right: 10px; 
  }
  

.hamburger {
    margin-left: auto;
    margin-right: 25px;
}

.hamburger:hover svg {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
}

.hamburger svg {
    width: 30px;
    height: 30px;
    min-width: 30px;
    padding: 8px;
    border-radius: 12px;
    background-color: white;
    color: black;
}



/* css avatar */

.avatar  {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: red;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 5px;
    margin-right: 10px;
    
  }
  
  .avatar-img {
    width: 50px;
    height: 50px;
    border-radius: 90%;
    
  }
  
  .account-info {
    position: absolute;
    top: 70px;
    background-color: yellowgreen;
    min-width: 160px;
    max-width: 300px;
    box-shadow: 0px 8px 39px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    display: none;
    margin-left: 100px;
    align-items: center;
  
  }
  
  .account-info.show {
    display: block;
    
  }
  
  .info {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.5;
  }
  
  .logout-btn {
    margin-left: 20px;
    padding: 6px 12px;
    background-color: #f43636;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

